option {
  font-weight: bold;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}

select#dark {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 10px !important;
  color: white;
  background: #1c1c1cff;
  background-image: none;
}

select#dark:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 10px !important;
  color: #1c1c1cff;
  background: white;
  background-image: none;
}

select#dark::-ms-expand {
  display: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 0.25em;
}

.select-dark {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #1c1c1cff;
  overflow: hidden;
  border: 1px solid white;
  /* border-radius: 0.25em; */
  /* border-color: white; */
}

.select-dark::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #e2cda9ff;
  background: #1c1c1cff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select-dark:hover::after {
  color: #e2cda9ff;
  background-color: #1c1c1cff;
}
select#dark {
  font-weight: bold;
  flex: 1;
  padding: 0 0.5em;
  color: #ffffff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
  background-color: #1c1c1cff;
}

.bg-tan {
  background-color: #e2cda9ff;
}

.bg-darkcyan {
  background-color: #134f5cff;
}

/* New Colours */
.bg-tan {
  background-color: #e2cda9ff;
}

.bg-darkcyan {
  background-color: #d8d8d8;
}

/* Text Classes */

.input-tan {
  color: #e2cda9ff;
  font-weight: 800;
}

.p-white {
  color: white;
}

.h1-tan {
  font-size: 3rem;
  color: #e2cda9ff;
  font-weight: 800;
}

.h1-blue {
  font-size: 3rem;
  color: #0a60d0;
  font-weight: 800;
}

.h2-tan {
  font-size: 2.5rem;
  color: #e2cda9ff;
}

.h2-blue {
  font-size: 2.5rem;
  color: #0a60d0;
  font-weight: 800;
}

.h2-dark {
  font-size: 2.5rem;
  color: #1c1c1cff;
}

.h3-tan {
  font-size: 1.5rem;
  color: #e2cda9ff;
}

.h3-blue {
  font-size: 1.5rem;
  color: #0a60d0;
}

.h4-tan {
  font-size: 1.375rem;
  color: #e2cda9ff;
}

.h4-blue {
  font-size: 1.375rem;
  color: #0a60d0;
}

.h5-tan {
  font-size: 1.25rem;
  color: #e2cda9ff;
}

.h5-blue {
  font-size: 1.25rem;
  color: #0a60d0;
}

.h5-dark {
  font-size: 1.25rem;
  color: #1c1c1cff;
}

.h6-tan {
  font-size: 1rem;
  color: #e2cda9ff;
}

.lead-tan {
  font-size: 1.2rem;
  font-weight: 500;
  color: #e2cda9ff;
}

/* Dashboard Classes */

.selected-no-hover {
  border-right: 2px solid white;
}

.menu-text {
  border: 1px transparent;
  background-color: transparent;
}

.menu-style {
  font-weight: 500;
  /* background-color: #4c9ed9; */
  color: rgb(255, 255, 255);
  padding: 0px 0px;
}

.menu-no-underline{
  color: #e2cda9ff;
  padding: 0px 0px;
}

.menu-no-underline:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* text-decoration: underline; */
}

.th-dark {
  border-color: transparent;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.th-tan {
  border-color: #e2cda9ff;
  background-color: #e2cda9ff;
  color: #1c1c1cff;
}

.li-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.cursor-context {
  cursor: context-menu;
  color: white;
  border: 1px transparent;
  background-color: transparent;
}

/* User Balance Classes */

.user-balance {
  color: #1c1c1cff;
  font-weight: bold;
  background-color: white;
  border-left: 4px solid #1c1c1cff;
  border-right: 4px solid white;
}

/* Video ID */

#myVideo {
  position: relative;
  z-index: 0;
}

.video-overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  text-align: center;
}

/* Marquee Replacer & Ticker Classes */

.marquee {
  width: 100%;
  line-height: 10px;
  background-color: rgb(255, 255, 255);
  color: #1c1c1cff;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.bold-ticker {
  border:1px transparent; 
  background-color: transparent; 
  font-weight: bold;
}
