option {
  font-weight: bold;
}

.select-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}

.select-dropdown::-ms-expand {
  display: none;
}

.select-dropdown-dark {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 10px !important;
  color: white;
  background: #1c1c1cff;
  background-image: none;
}

.select-dropdown-dark {
  font-weight: bold;
  flex: 1;
  padding: 0 0.5em;
  color: #ffffff;
  cursor: pointer;
}

.select-dropdown-dark:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 10px !important;
  color: #1c1c1cff;
  background: white;
  background-image: none;
}

.select-dropdown-dark::-ms-expand {
  display: none;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 0.25em;
}

.select-dark {
  font-weight: bold;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #1c1c1cff;
  overflow: hidden;
  border: 1px solid white;
  /* border-radius: 0.25em; */
  /* border-color: white; */
}

.select-dark::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #e2cda9ff;
  background: #1c1c1cff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select-dark:hover::after {
  color: #e2cda9ff;
  background-color: #1c1c1cff;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #0a60d0;
  background-color: #1c1c1cff;
}

.bg-tan {
  background-color: #e2cda9ff;
}

.bg-darkcyan {
  background-color: #134f5cff;
}

/* New Colours */
.bg-tan {
  background-color: #e2cda9ff;
}

.bg-darkcyan {
  background-color: #d8d8d8;
}

/* Text Classes */

.input-tan {
  color: #e2cda9ff;
  font-weight: 800;
}

.p-white {
  color: white;
}

.h1-tan {
  font-size: 3rem;
  color: #e2cda9ff;
  font-weight: 800;
}

.h1-blue {
  font-size: 3rem;
  color: #0a60d0;
  font-weight: 800;
}

.h2-tan {
  font-size: 2.5rem;
  color: #e2cda9ff;
}

.h2-blue {
  font-size: 2.5rem;
  color: #0a60d0;
  font-weight: 800;
}

.h2-dark {
  font-size: 2.5rem;
  color: #1c1c1cff;
}

.h3-tan {
  font-size: 1.5rem;
  color: #e2cda9ff;
}

.h3-blue {
  font-size: 1.5rem;
  color: #0a60d0;
}

.h3-white {
  font-size: 1.5rem;
  color: white;
}

.h4-tan {
  font-size: 1.375rem;
  color: #e2cda9ff;
}

.h4-blue {
  font-size: 1.375rem;
  color: #0a60d0;
}

.h5-tan {
  font-size: 1.25rem;
  color: #e2cda9ff;
}

.h5-blue {
  font-size: 1.25rem;
  color: #0a60d0;
}

.h5-dark {
  font-size: 1.25rem;
  color: #1c1c1cff;
}

.h6-tan {
  font-size: 1rem;
  color: #e2cda9ff;
}

.h6-dark {
  font-size: 1rem;
  color: #1c1c1cff;
}

.h6-blue {
  font-size: 1rem;
  color: #0a60d0;
}

.lead-tan {
  font-size: 1.2rem;
  font-weight: 500;
  color: #e2cda9ff;
}

.text-blue {
  color: #0a60d0;
}

.text-black {
  color: black;
}

.text-orange {
  color: orange;
}

.text-dark {
  color: #1c1c1cff;
}

/* Dashboard Classes */

.selected-no-hover {
  border-right: 2px solid white;
}

.menu-text {
  border: 1px transparent;
  background-color: transparent;
}

.menu-style {
  font-weight: 500;
  /* background-color: #4c9ed9; */
  color: rgb(255, 255, 255);
  padding: 0px 0px;
}

.menu-no-underline{
  color: #e2cda9ff;
  padding: 0px 0px;
}

.menu-no-underline:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* text-decoration: underline; */
}

.menu-style-invert {
  font-weight: 500;
  /* background-color: #4c9ed9; */
  color: #e2cda9ff;
  padding: 0px 0px;
}

.menu-style-invert:hover {
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.th-dark {
  border-color: transparent;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.th-tan {
  border-color: #e2cda9ff;
  background-color: #e2cda9ff;
  color: #1c1c1cff;
}

.li-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.cursor-context {
  cursor: context-menu;
  color: white;
  border: 1px transparent;
  background-color: transparent;
}

/* User Balance Classes */

.user-balance {
  border-radius: 8px;
  color: #1c1c1cff;
  font-weight: bold;
  background-color: white;
  border: 2px solid #1c1c1cff;
  padding: 4px;
}

.user-balance:hover {
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: white;
  border: 2px solid #0a60d0;
  padding: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Video ID */

#myVideo {
  position: relative;
  z-index: 0;
  width: 100%;
}

.video-overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  text-align: center;
}

/* Marquee Replacer & Ticker Classes */

.marquee {
  width: 100%;
  line-height: 10px;
  background-color: rgb(255, 255, 255);
  color: #1c1c1cff;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.bold-ticker {
  border:1px transparent; 
  background-color: transparent; 
  font-weight: bold;
}

.shares-owned {
  background-color: transparent; 
  border-top: 1px #ffffff;
  border-bottom: 1px #ffffff;
  border-left: 1px #ffffff;
  border-right: 1px #ffffff;
}

.campaign-box-participating {
  border-radius: 25px;
  background: #fcfcfc;
  font-size: small;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 200px;
  cursor: default;
  overflow: visible;
}

.campaign-box-participated {
  border-radius: 25px;
  background: rgb(119, 119, 119);
  font-size: small;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 200px;
  cursor: default;
  overflow: visible;

}

.campaign-box-participated-winner {
  border-radius: 25px;
  border: 2px solid white; 
  background: #0a60d0;
  font-size: small;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.campaign-box-participated-winner {
  border-radius: 25px;
  background: #0a60d0;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.campaign-box-near {
  border-radius: 25px;
  /* background: linear-gradient(180deg, #1c1c1cff 10%, rgb(255, 116, 116) 90%); */
  background: rgb(255, 131, 131);
  font-size: small;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  cursor: default;
  overflow: visible;
}

.portfolio-box-owned-shares {
  border-radius: 8px;
  background: #ffffff;
  padding: 10px;
  margin: 5px;
  width: 425px;
  height: 65px;
}

.portfolio-box-open-order {
  border-radius: 8px;
  border: 1px solid white;
  background: #1c1c1cff;
  padding: 10px;
  margin: 5px;
  width: 425px;
  height: 65px;
}

.portfolio-artist {
  color: #0a60d0;
  cursor: context-menu;
}

.portfolio-percentage-positive {
  color:green;
  float: right;
  cursor: context-menu;
}

.portfolio-percentage-negative {
  color:red;
  float: right;
  cursor: context-menu;
}

.portfolio-shareamount {
  color: #1c1c1cff;
  font-weight: normal;
  font-size: small;
  cursor: context-menu;
}

.portfolio-gain {
  color:green;
  float: right;
  font-weight: normal;
  font-size: small;
  cursor: context-menu;
}

.portfolio-loss {
  color:red;
  float: right;
  font-weight: normal;
  font-size: small;
  cursor: context-menu;
}

.portfolio-sellorder {
  color:rgb(255, 255, 255);
  float: right;
  cursor: context-menu;
}

.portfolio-shareamount-openorder {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: small;
  cursor: context-menu;
}

.portfolio-limitstop {
  color:rgb(255, 255, 255);
  float: right;
  font-weight: normal;
  font-size: small;
  cursor: context-menu;
}

.open-order-cancel {
  color: red;
  font-weight: lighter;
  padding-left: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: transparent;
  display: inline;
  flex-direction: column;
  text-align: center;  
  float: right;
  cursor: pointer;
}

.input-no-border {
  border:0px transparent;
  background-color: transparent;
}

.input-no-border:hover {
  cursor: pointer;
}

.tooltip-pointer {
  cursor: help;
}

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}

.white-box-faq {
  background: rgb(255, 255, 255);
  width: 50%;
  min-height: 200px;
  color: black;
  padding: 20px;
  border-radius: 5px 5px 5px;
}