.slider_container {
    height: auto;
  }

.slider_text {
  font-size: small;
  width: 40%;
  background: none;
  overflow-x: visible;
}

.slider_text_no_border {
  border:0; 
  color:#f6931f; 
  font-weight:bold;
}

.buy_back_shares_slider_text {
  width: 40%;
  background: none;
  overflow-x: visible;
  border:0; 
  color: white; 
  font-weight:bold;
}

.slider_slider {
  margin-top: 5%;
  width: 60%;
  margin-left:25%;
}

.buy_sell_container {
  display: flex;
}

.accordion {
  width: 50%;
}

.ui-widget-content {
  border: 0;
  background: none;
  color: white;
}

.shares_header {
  font-weight: bold;
  color: #1c1c1cff;
  background: #fff;
  border: none;
  border-radius: 5px;
}

.spacer {
  width: 5%;
}

.order_btn_container{
  margin-top: 5%;
}

.stocktip-text {
  font-size: small;
}

.stocktip-text-15 {
  font-size: 15px;
}