.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 23px;
  background: white;
  outline: none;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #0a60d0;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 21px;
  height: 21px;
  background: #0a60d0;
  cursor: e-resize;
}
